<!DOCTYPE html>
<html lang="en">
<head>
    {% load staticfiles %}
    <meta charset="UTF-8">
    <title>Create Article</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'stylesheet.css' %}">
</head>
<!--TODO: Add article options-->
<body>
<!-- Navigation bar -->
<ul>
    <li><a id="redBtn"    href="#" style="color:red">Red</a></li>
    <li><a id="greenBtn"  href="#" style="color:green">Green</a></li>
    <li id="theTitle"><a style="color: #d54d7b;" href="/">Experience</a></li>
</ul>

<div class="jumbotron">
    <form action="/stories/create_article" method="get">
        <div>
            <label for="category">Category</label>
            <select id="category">
                <option>Problem/Issue</option>
                <option>Place/Location</option>
            </select>
            <label for="topic">Topic</label>
            <select id="topic"></select>
        </div>
        <div>
            <label for="title">Article Title</label><br>
            <input type="text" name="title" id="title"><br>
            <label for="body">Body</label><br>
            <textarea name="body" id="body"></textarea><br>
            <button type="submit">Add</button>
        </div>
    </form>
</div>
</body>
<script src="https://code.jquery.com/jquery-3.4.0.min.js" integrity="sha256-BJeo0qm959uMBGb65z40ejJYGSgR7REI4+CW1fNKwOg=" crossorigin="anonymous"></script>
<script type="text/javascript">
    let user_name = "{{ user_name }}";
    const problem_topics = [
        "Cancer",
        "Anxiety",
        "Work Stress",
        "Impost Syndrome"
    ];
    const places_topics = [
        "Cairo",
        "New York City",
        "Shanghai"
    ];
    function fillTopics(topics) {
        $('#topic').empty();
        for (let i = 0; i < topics.length; i++) {
            $('#topic').append('<option>' + topics[i] + '</option>');
        }
    }
    function setTitle() {
        /*
        * Sets appropriate title according to chosen category
        * and topic.
        */
        let title = $('#title');
        if ($('#category option:selected').text() === 'Place/Location') {
            let str = user_name + "'s ";
            str += 'Experience in ' + $('#topic option:selected').text();
            title.val(str);
        } else {
            let str = 'How ' + user_name + ' Dealt With ' +
                $('#topic option:selected').text();
            title.val(str);
        }
    }
    $(document).ready(function () {
        // Set topic initial options
        fillTopics(problem_topics);

        $('#category').on('change', function () {
            if (this.value === 'Place/Location')
                fillTopics(places_topics);
            else
                fillTopics(problem_topics);
            setTitle();
        });
        $('#topic').on('change', function () {
            setTitle();
        });
    });
</script>
</html>