<!DOCTYPE html>
<html lang="en">
<head>
    {% load staticfiles %}
    <meta charset="UTF-8">
    <title>Create Article</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'stylesheet.css' %}">
</head>
<!--TODO: Add article options-->
<body>
<!-- Navigation bar -->
<ul>
    <li><a id="redBtn"    href="#" style="color:red">Red</a></li>
    <li><a id="greenBtn"  href="#" style="color:green">Green</a></li>
    <li id="theTitle"><a style="color: #d54d7b;" href="/">Experience</a></li>
</ul>

<div class="jumbotron">
    <form action="/stories/create_article" method="get">
        <label for="title">Article Title</label><br>
        <input type="text" name="title" id="title"><br>
        <label for="body">Body</label><br>
        <textarea name="body" id="body"></textarea><br>
        <button type="submit">Add</button>
    </form>
</div>
</body>
<script></script>
</html>