<!DOCTYPE html>
<html lang="en">
<head>
    {% load staticfiles %}
    <meta charset="UTF-8">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'stylesheet.css' %}">
    <title>{{ name }}</title>
</head>
<body>
<!-- Navigation bar -->
<ul>
    <li><a id="redBtn"    href="#" style="color:red">Red</a></li>
    <li><a id="greenBtn"  href="#" style="color:green">Green</a></li>
    <li id="theTitle"><a style="color: #d54d7b;" href="/">Experience</a></li>
</ul>
<h2>{{ name }}'s Articles</h2>
{% if articles.count == 0 %}
    <h4>No Articles Yet.</h4>
{% else %}
    <ul>
        {% for article in articles %}
            <li>
              <h3>{{ article.title }}</h3>
              <p style="text-overflow: ellipsis">{{ article.body }}</p>
            </li>
        {% endfor %}
{% endif %}
</ul>
<form action="/stories/create_article" method="get">
    <button type="submit">Create an Article</button>
</form>
</body>
</html>